*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0; /* ブラウザデフォルトの余白を消す */
}

.main-container {
  display: flex;
  height: 100vh;
}

/* メイン領域 */
.main-content{
    flex: 1 1 auto;
    padding: 20px;
    overflow-y: auto;  /* 独立スクロール */
    min-height: 0;     /* flex子要素で overflow を効かせるため */
}

.main-content h1.main-content-title{
  font-size: 50px;
  color: #ff8c00;
  text-shadow:
    4px 4px 0 #666;
}

.main-content *{
  text-align: center;
}

body{
  background-image: url('/src/image/background.svg');
  background-repeat: repeat;
  background-size: 20px 20px;
}

ul{
    list-style: none;
    padding-left: 0px;
}
