*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ丸ゴ ProN",
    "Hiragino Maru Gothic ProN", "Meiryo UI", "Yu Gothic",
    "Yu Gothic UI", "Arial", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 0;
  min-height: 0;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
  min-height: 0;
}

.main-content h1.main-content-title {
  font-size: 50px;
  color: #ff8c00;
  text-shadow: 4px 4px 0 #666;
}

.main-content * {
  text-align: center;
}

body {
  background-image: url("/src/image/background.svg");
  background-repeat: repeat;
  background-size: 20px 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.error-msg{
  color: red;
  background-color: yellow;
  font-size:25px;
}