.brog-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  margin-bottom: 10px;

  border: 3px solid #ccc;
}

.brog-card .brog-card-title {
  grid-column: 1 / 2;
  grid-row: 1;
  border-right: 2px solid #ccc;
}

.brog-card .brog-card-title h3 {
  text-align: left;
}

.brog-card .brog-card-date {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: right;
}

.brog-card .brog-card-content {
  grid-column: 1 / 3;
  grid-row: 2;
  border-top: 2px solid #ccc;
}

.brog-card .brog-card-content p {
  text-align: left;
  padding: 10px;
}